@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
}


body {
    background-color: #1e252d;
    line-height: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 25px 25px 25px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #222; 
}

::-webkit-scrollbar-thumb {
    background: #FFF; 
}

::-webkit-scrollbar-thumb:hover {
    background: #FFF; 
}

a:link, a:visited, a:hover, a:active {
    color: lightblue;
}
  
a:hover {
    filter: brightness(1.5);
}
  
a:active {
    filter: brightness(0.6);
}

.gridjs-footer {
    border-top: 1px solid #444);
    background-color: #333;
    border-color: #444;
}
input.gridjs-input {
    color: #FFF;
    background-color: #333;
    border: 1px solid #333;
}
input.gridjs-input:focus {
    box-shadow: 0 0 0 3px lightblue
}
.gridjs-pagination {
    color: #FFF;
}
.gridjs-pagination .gridjs-pages button {
    border: 1px solid #444;
    background-color: #444;
    color: #FFF;
}
.gridjs-pagination .gridjs-pages button:focus {
    box-shadow: 0 0 0 2px lightblue;
}
.gridjs-pagination .gridjs-pages button:hover {
    background-color: lightblue;
    color: #222;
}
.gridjs-pagination .gridjs-pages button:disabled, .gridjs-pagination .gridjs-pages button[disabled], .gridjs-pagination .gridjs-pages button:hover:disabled {
    background-color: #444;
    color: #333;
}
.gridjs-pagination .gridjs-pages button.gridjs-spread {
    background-color: #333;
}
.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
    background-color: lightblue;
    color: #222;
}
.gridjs-pagination .gridjs-pages button:last-child {
    border-right: 1px solid #444;
}
.gridjs-tbody {
    background-color: #333;
}
td.gridjs-td {
    border: 1px solid #444;
    background-color: #333;
}
th.gridjs-th {
    position: relative;
    color: #222;
    background-color: lightblue;
    border: 1px solid #444;
}
th.gridjs-th-sort:hover {
    background-color: lightblue;
    filter: brightness(1.2);
}
th.gridjs-th-sort:focus {
    background-color: #444;
}
th.gridjs-th-fixed {
    box-shadow: 0 1px 0 0 #444;
}
@supports (-moz-appearance: none) {
    th.gridjs-th-fixed {
        box-shadow: 0 0 0 1px #444;
   }
}
.gridjs-wrapper {
    border-color: #444;
}
.gridjs-loading-bar {
    background-color: #333;
}
